.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page-content {
  flex-grow: 1;
}
.library-content {
  width: (100% -250px);
  margin-top: 5rem;
  padding: 3rem;
  margin-left: 250px;
  margin-right: 80px;
  height: 100vh;
  z-index: 1;
}
.library-content .library-components {
  display: flex;
  flex-direction: column;
}
