.landingPage {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.landingPage-main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.landingImg {
  width: 40rem;
  height: 30rem;
  margin: 1rem 5rem;
}
.main-line {
  font-size: 3rem;
  font-weight: 700;
}
.about-line {
  font-size: 1.1rem;
}
.btn {
  padding: 1rem;
  font-size: large;
  font-weight: bolder;
}
.landingImg img {
  width: 100%;
  height: 100%;
}
