.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
button {
  cursor: pointer;
}
body {
  background-color: var(--background-color);
  color: var(--color);
}
.link {
  text-decoration: none;
  color: var(--color);
}
.dark-mode {
  --background-color: #15141a;
  --color: #ffffff;
}
.light-theme {
  --background-color: #ffffff;
  --color: #222831;
}
