.note-card {
  background-color: var(--not-background-color);
  color: var(--background-color);
  border: 1px solid #818181;
  width: 15rem;
  padding: 1rem;
  position: relative;
  border-radius: 0.5rem;
}
.delete-icon {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.note-title {
  font-weight: bolder;
  border-bottom: 1px solid black;
  padding: 0.5rem;
}
.note-descreption {
  padding: 0.5rem;
  height: auto;
}
